<div class="header bg-dark">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="remove-decoration nav-link active" href="/project/app/pages/dashboard.html">Home</a>
        </li>
        <li class="nav-item">
            <a class="remove-decoration nav-link" href="/project/app/pages/classes.html">Turmas</a>
        </li>
        <li class="nav-item">
            <a class="remove-decoration nav-link" href="/project/app/pages/institutions.html">Instituições</a>
        </li>
    </ul>
</div>